node_modules
dist
.vercel
.env*.local
build_log.txt
*.log
.DS_Store

# Android
android/.gradle
android/.idea
android/app/build
android/local.properties
*.iml

# iOS
ios/App/Pods
ios/App/Podfile.lock
ios/App/build
DerivedData
android/build
